# Created by venv; see https://docs.python.org/3/library/venv.html
*Pipfile
*Pipfile.lock
bin/
include/
lib/
lib64/
pyvenv.cfg

# Build directories
build/
dist/

# Virtual environment
venv/
env/
.env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

